/* .fullRow {
    height: 35%;
} */

.addInfoBtn {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
}

.addIncomeBtn {
    background-color: rgb(33, 201, 33);
}

.addExpensesBtn {
    background-color: rgb(218, 41, 41);
    display: none;
}